<div id="home" class="main_content">

    <div id="title_name">
        實體聚會
    </div>

    <div id="banner_slideshow_block">
        {{banners}}
    </div>

    <div id="bible_block">
        <div>
            {{bibleSentence}}
        </div>
        <div>
            {{bibleChapter}}
        </div>
    </div>

    <div id="notiifcation_block">
        {{notiContent}}
    </div>

    <div id="btn_group">
        <button id="checkIn" class="btn btn-primary btn-lg btn-block">CHURCH IN！</button>
    </div>

</div>