
<!DOCTYPE html>

<html>
    <head>
        <title>Church IN!</title>
        <meta charset="utf-8"> 
        <link rel="manifest" href="manifest.json">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="image/favicon.png">
        <link rel="apple-touch-icon" href="image/favicon.png">
        <meta name="theme-color" content="#8BC32C">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/plugins/bootstrap-4.0.0-dist/bootstrap.min.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/jBox.all.min.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/jBox.min.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/plugins/jBox.Confirm.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/plugins/jBox.Notice.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/plugins/jBox.Image.css">
        <link rel="stylesheet" href="css/plugins/jBox-0.5.4/themes/jBox.NoticeFancy.css">
        <link rel="stylesheet" href="css/plugins/bootstrap-select-1.13.14/bootstrap-select.min.css">

        <link rel="stylesheet" href="css/common.css?v={{timestamp}}">
        <link rel="stylesheet" href="css/{{page}}.css?v={{timestamp}}">
    </head>

        <body>

            <div class="content">
                {{nav_content}}



                {{page_content}}
            </div>


            <!-- footer -->
            <footer  id="footer-block">
                <div id="privacy">
                    <a href="privacy.php">私隱政策</a> | 
                    <a href="copyright.php">知識產權</a> | 
                    <a href="disclaimer.php">免責聲明</a>
                </div>
                <div id="copyright">&copy; TOP CREATIVE MINISTRIES | All Rights Reserved</div>
            </footer >

            
            <!-- Install button, hidden by default -->
            <div id="installContainer" class='hidden'>
                <div id="install-block">
                    <div id="install-info-container">
                        <div id='app_image'>
                            <img src="image/favicon.png">
                        </div>
                        <div id="install-info-word">新增Church IN至主螢幕</div>
                    </div>
                    <div id="install-btn-container">
                        <button id="btn-install" class="btn btn-primary" type="button">安裝應用程式</button>
                        <button id="btn-install-cancel" class="btn btn-default" type="button">取消</button>
                    </div>
                </div>
            </div>

            <script>
                var page = "{{page}}";
            </script>

            <script src="js/plugins/jquery/jquery-3.1.1.min.js"></script>
            <script src="js/plugins/html2canvas/html2canvas.min.js"></script>
            <script src="js/plugins/bootstrap-4.0.0-dist/bootstrap.min.js"></script>
            <script src="js/plugins/bootstrap-select-1.13.14/bootstrap-select.min.js"></script>
            <script src="js/plugins/jBox-0.5.4/jBox.all.min.js"></script>
            <script src="js/plugins/jBox-0.5.4/plugins/jBox.Notice.min.js"></script>
            <script src="js/plugins/jBox-0.5.4/plugins/jBox.Confirm.min.js"></script>
            <script src="js/plugins/jBox-0.5.4/plugins/jBox.Image.min.js"></script>
            <script src="js/plugins/jsqrscanner/jsqrscanner.nocache.js?v={{timestamp}}"></script>
            <script src="js/plugins/qr-scanner-master/qr-scanner.umd.min.js"></script>
            <script src="js/plugins/qr-scanner-master/qr-scanner-worker.min.js"></script>

            <!-- pages -->
            <script src="js/common.js?v={{timestamp}}"></script>
            <script src="js/menu.js?v={{timestamp}}"></script>
            <script src="js/{{page}}.js?v={{timestamp}}"></script>


        </body>
</html>