<!-- nav bar and compnay name -->
<div id="loading_layer_container">
    <div id="loading_layer"></div>
    <img id="loading_success" src="image/loading_success.gif">
    <img id="loading" src="image/loading.gif">
</div>

<!-- nav bar and compnay name -->
<div id="navigation_bar">
    <div id="back_btn"><i class="fas fa-arrow-left"></i></div>
    <div id="system_name"><img src="image/logo_landscape.png"></div>
    <div id="navigation_btn"><img src="image/navigation_btn.png"></div>
</div>

<!-- navigation menu -->
<div id="navigation_layer_container">
    <div id="navigation_layer"></div>
    <div id="navigation_menu">
        <div id="nav_container">
            <div id="nav_title">
                <div id="member_intro">
                    <div id="member_image"><img class="profile_pic img-circle" src="{{memberImage}}"></div>
                    <div id="slide_name">
                        <div>歡迎，</div>
                        <div id="member_id_display" class="{{isNewUser}}">{{name}}</div>
                    </div>
                </div>
            </div>
            <div id="menu">
                <div id="menu_index_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-home"></i>
                    <div class='nav_option_text' style="padding-left: 6px">首頁</div>
                </div>
                <div id="menu_qrscanner_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-qrcode"></i>
                    <div class='nav_option_text'>掃描QR Code</div>
                </div>
                <div id="menu_setting_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-cog"></i>
                    <div class='nav_option_text'>設定</div>
                </div>

                <hr>

                <div id="menu_privacy_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-eye"></i>
                    <div class='nav_option_text'>私隱政策</div>
                </div>
                <div id="menu_copyright_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-copyright"></i>
                    <div class='nav_option_text'>知識產權</div>
                </div>
                <div id="menu_disclaimer_page" class='nav_option' style='cursor: pointer;'>
                    <i class="fas fa-exclamation-circle"></i>
                    <div class='nav_option_text'>免責聲明</div>
                </div>
            </div>
        </div>
    </div>
</div>