<div id="privacy" class="main_content">

    <div id="title_name">
        私隱政策
    </div>
    <div class="paragraph">
        <p>本網站於使用者填寫資料及掃描二維碼時，均會收集使用者的個人資料，包括但不限於使用者的姓名和電話號碼。使用者提供資料完全出於自願，並同意資料為正確無誤。本網站會尊重使用者的個人私隱，並且致力執行及遵守保障資料原則及香港《個人資料(私隱)條例》的要求。本網站將盡力確保使用者提供的個人資料保密、準確及安全，防止未經授權的存取、處理、消除及其他使用。所收集的個人資料，將只運用於記錄使用者進入聚會場地，以便日後有需要聯絡。在特定情況下(包括保障提供聚會之教會及其使用者的權益、調查非法活動、依據法律的要求、保障提供聚會之教會成員及公眾的安全等)，提供聚會之教會有權在未知會及未經當事人同意下將使用者的個人資料透露予第三者。本網站使用小型文字檔案(cookies)記錄本網站或移動應用程式(如有)的瀏覽情況，並儲存使用者個人資料方便日後取用。</p>
        <p>使用者使用本網站即表示同意當中所列出的責任及政策。卓越創意事工有權不時修訂本政策而無需事先通知。如使用者於政策被修訂後仍繼續使用本網站，即被視為已接受有關修訂。</p>
    </div>

</div>