<div id="setting" class="main_content">
    <div>

        <!-- Name -->
        <!-- <form id='member_image_upload_form' class='image_upload_form setting_block'>
            <div class='input-group'>
                <label class='input-group-btn'>
                    <div class='upload_image_block'>
                        <div id='store_image_upload' class='image_content image_upload'>
                            <div id="edit_pen"><i class="fas fa-pen"></i></div>
                            <div id="member_image"><img class="member_pic img-circle" src="{{memberImage}}"></div>
                        </div>
                    </div>
                </label>
            </div>
        </form> -->

        <!-- Name -->
        <div id="name" class='setting_block edit'>
            <div class="setting_form_title">姓名</div>
            <div class="setting_form_value">{{name}}</div>
        </div>

        <!-- mobile -->
        <div id="mobile" class='setting_block edit'>
            <div class="setting_form_title">電話號碼</div>
            <div class="setting_form_value">{{mobile}}</div>
        </div>

        <!-- reset -->
        <div class='setting_block'>
            <button id="reset-btn" class='btn btn-danger'>回復預設設定</button>
        </div>

        <!-- confirm -->
        <button id="confirm-btn" class='btn btn-primary btn-block'>儲存</button>

    </div>
</div>




<div id="field_setting">
    <div id="field_navigation_bar">
        <div id="field_back_btn"><i class="fas fa-arrow-left"></i></div>
        <div id="field_name"></div>
    </div>

    <div id="title"></div>
    <div id="value_input"></div>
    <button id="save_btn" class="btn btn-primary">確定</button>
</div>